body {
    max-width: 768px;
    height: 4113px;
}

.buttonsearch {
    visibility: hidden;
}

header {
    flex-direction: column;
    width: 100%;
    /*375px*/
    height: 132px;
    /* 129 + 3 */
    margin: 0;
}

nav,
.hebergements,
.activites {
    height: 63.53px;
    /* 63.53 = 23.09 + 17.35 + 23.09 */
}

.logo {
    margin-top: 21px;
    margin-left: 41.87%;
    /*157px*/
}

nav {
    margin-bottom: 3px;
}

.hebergements,
.activites {
    width: 100%;
    /*187px*/
}

.hebergementmarseille {
    /* le a d'hébergements */
    width: 49.87%;
    /*187%*/
    font-weight: 500;
}

nav {
    width: 100%;
}

nav a {
    width: 50.13%;
    /*188px*/
    border-top: 0;
    border-bottom: 3px solid #FFFFFF;
    /*375px*/
}

nav a:hover {
    border-bottom-color: #0069FC;
}

/*---------------------------------------Partie 2 FILTRES--------------------------------------------------*/

.partiefiltres {
    width: 89.07%;
    /* 100% - 5.33%- 5.60% */
    height: 456px;
    margin-top: 31px;
    margin-left: 5.33%;
    /* 20px */
    margin-right: 5.60%;
    /* 21px */
    margin-bottom: 17px;
}

h1,
h2 {
    margin-left: 2px;
    /* 20px*/
    width: 89%;
    /*79.47% ;/*298px;  j'ai tatonné*/
}

h2 {
    margin-top: 13px;
}

.blocinput {
    margin-left: 0.53%;
    /*2px*/
    margin-top: 34px;
}

.filterbar {
    flex-direction: column;
    align-items: flex-start;
    width: 89.07%;
    /* 334px = 375 - 20 - 21 */
}

.filtres {
    height: 55px;
}

.ensemblefiltres {
    flex-wrap: wrap;
    align-content: space-between;
    margin-top: 15px;
    margin-left: 0;
    width: 110.93%;
    /* 110.93%= 100% +5.33% + 5.60%  */
    height: 117px;
    /* 50 + 17 + 50 */
}

.filtres {
    height: 21px;
}

.filtres2 {
    height: 50px;
    width: 48.3%;
    /* 156px = 160-2-2. J'ai mis 161.33px :
    j'ai mis un peu plus grand pour que tout le texte d'animaux autorisés se mette sur une seule ligne */
}

.textfiltres {
    display: flex;
    margin-right: 20px;
    line-height: 12.91px;
    font-size: 11px;
    font-weight: 700;
}

.carreicon1 {
    width: 21px;
    height: 14.78px;
    margin-left: 13px;
    margin-right: 5px;
}

.carreicon2 {
    height: 22px;
    margin-left: 17px;
    margin-right: 8.56px;
}

.carreicon3 {
    margin-left: 20px;
    margin-right: 4px;
}

.carreicon4 {
    width: 21px;
    height: 20px;
    margin-left: 13px;
    margin-right: 5px;
}

.fa-dog {
    font-size: 21px;
}

.infobar {
    display: flex;
    align-items: flex-start;
    height: 60px;
    /* 57 + 3 : les 3px qui dépasse de l'icone */
    margin-top: 40px;
    /* on enlève les 3px qui dépassent de l'icone */
}

h3 {
    /* Plus de 500 logements sont disponibles dans cette ville */
    margin-top: 3px;
}

/*---------------------------Partie 3 hebergements à Marseille et les plus populaires-----------------------*/
.partieoffers {
    flex-direction: column-reverse;
    justify-content: flex-end;
    width: 100%;
    /*374px*/
    height: 1905px;
    /*2200px*/
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.titrehebergements {
    margin: 0;
}

.offerssponsored {
    flex-direction: column;
    margin-top: 0;
    width: 100%;
    /*375px*/
    height: 580px;
    /*700px*/
}

.grostitresponsored {
    height: 80px;
    /* 28+26+26 */
    margin-left: 5.33%;
    /*20px*/
    margin-right: 5.60%;
    padding-top: 2px;
    /* 26 + 2 */
}

h4 {
    margin-top: 26px;
}

.eclairicon {
    height: 14.38px;
    margin-top: 35px;
}

.bloccardsponsored {
    flex-direction: column;
    height: 453px;
    /* 144+11+144+10+144*/
    margin-left: 20px;
}

.bloccardsponsored a {
    width: 100%;
}

.cardsponsored {
    width: 100%;
    /* 89.07%- 5.33%   334px */
    margin: 0;
}

/*offermain*/
.offersmain {
    margin-left: 5.33%;
    margin-right: 5.60%;
    height: 1325px;
    width: 89.07%;
    background-color: #FFFFFF;
}

.titrehebergements {
    height: 71px;
}

.afficherplus {
    display: none;
}

.sixcards {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    margin-left: 0;
    height: 1254px;
    /* 199+12+199+12+199+12+199+12+199+12+199 */
    margin-bottom: 12px;
}

.sixcards a {
    width: 100%;
}

/*---------------------------------------Partie 4 -----ACTIVITES-----------------------------------------*/
.sectionactivites {
    justify-content: flex-start;
    width: 89.06%;
    /*375px*/
    height: 886px;
    /* 54+190+24+190+24+190+24+190 */
    margin-top: 105px;
    /* 105-12 */
    margin-left: 5.07%;
    /*19px*/
    margin-right: 5.87%;
    /*22px*/
}

.sectionactivites a {
    width: 100%;
}

.bloccardactivites {
    flex-direction: column;
    height: 832px;
    margin-top: 0;
}

.cardactivites {
    height: 190px;
}

.imageactivites img {
    height: 134px;
}

h5 {
    width: 120px;
    height: 54px;
    /* 30.02 + 23.98 */
    margin-bottom: 0;
}

.descriptionactivites,
.descriptionactivitesb,
.descriptionactivitesc {
    display: flex;
    align-items: center;
    width: 247px;
    margin-top: 20px;
    margin-left: 19px;
}

.imageactivites {
    height: 134px;
}

/*---------------------------------------------Partie 5 FOOTER--------------------------------------------*/

footer {
    margin-top: 80px;
    margin-left: 0;
    width: 100%;
    /*375px*/
    height: 501px;
    flex-direction: column;
}

.apropos {
    margin-left: 8%;
    /*30px*/
    margin-bottom: 0;
}

.noshebergements {
    margin-top: 40px;
    margin-left: 8.80%;
    /*33px*/
}

.assistance {
    margin-top: 51px;
    margin-left: 8.80%;
    /*33px*/
}