body {
   display: flex;
   flex-direction: column;
   max-width: 1400px;
   width: 100%;
   height: auto;
   margin-left: auto;
   margin-right: auto;
   margin-top: 0;
   padding: 0;
   font-family: "raleway", sans serif;
}

a {
   text-decoration: none;
   color: black;
}

/* regroupements */
header,
.hebergements,
nav,
.activites,
nav a {
   display: flex;
}

header,
nav,
.hebergements,
.activites {
   height: 111px;
}

/*---------------------------------------------------HEADER-----desktop-------------------------------------------*/
header {
   justify-content: space-between;
   margin-left: 3.82%;
   /*55px;*/
   margin-right: 3.75%;
   /*54px: 77-23  (23=(109-63)/2) */
}

.logo {
   width: 61px;
   height: 19px;
   margin-top: 44px;
}

.logo img {
   width: 100%;
}

/*--HEADER------NAV--tout à Droite------*/
nav {
   align-items: center;
   width: 271px;
   /*20.72%; /*271px = 162 + 109 (109= 186-77) */
}

.hebergements {
   justify-content: center;
   width: 162px;
}

.texthebergements {
   margin-top: 46px;
   /*48-2*/
   font-size: 16px;
   font-weight: 500;
}

.activites {
   justify-content: center;
   width: 109px;
   /* 186-77 */
}

.textactivites {
   margin-top: 46px;
   /*48-2*/
   font-size: 16px;
   font-weight: 400;
}

nav a {
   /*40.22%*/
   text-decoration: none;
   color: black;
   /*line-height: 19px*/
   font-weight: 400;
   font-size: 16px;
   border-top: 2px solid #f7f9fa;
   margin-top: 2px;
}

nav a:hover {
   cursor: default;
   color: #0069FC;
   border-top-color: #0069FC;
}

/*---------------------------------------Partie 2 FILTRES--------desktop-----------------------------------------*/
.partiefiltres {
   /*----section FILTRES----*/
   display: flex;
   flex-direction: column;
   width: 63.96%;
   /* 921px = 1440-55-464 */
   height: 261px;
   margin-top: 15px;
   /*126-111*/
   margin-left: 3.82%;
   /* 55px */
   margin-right: 32.22%;
   /*464*/
}

h1 {
   /* Trouver un hébergement pour des vacances de reve */
   margin: 0;
   line-height: 26px;
   font-size: 22px;
   font-weight: 700;
}

h2 {
   /* En plein centre ville ou en pleine nature */
   margin-top: 8px;
   margin-bottom: 0px;
   line-height: 19px;
   font-size: 16px;
   font-weight: 400;
}

/*---InputMainLocation- Barre de recherche--*/
.blocinput {
   display: flex;
   align-items: center;
   /* width: 415px; */
   margin-top: 20px;
}

.inputmainlocation {
   display: flex;
   align-items: center;
   width: 332px;
   height: 49px;
   border: 1px solid #F2F2F2;
   border-radius: 15px;
}

.conteneurlocation {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50px;
   height: 49px;
   border-radius: 15px 0px 0px 15px;
   background-color: #F2F2F2;
}

.fa-location-dot {
   width: 14px;
   height: 18px;
}

.form {
   display: flex;
   align-items: center;
   width: 215px;
   /* 215 sur 332 */
   height: 49px;
   margin-left: 17px;
}

.formulaire {
   display: flex;
   width: 100%;
   /*180px*/
   height: 21px;
}

.marseille {
   width: 100%;
   /*180px*/
   font-size: 18px;
   font-weight: 700;
   border: none;
   padding-left: 0;
}

input::placeholder {
   color: black;
   font-size: 16px;
   font-weight: 400;
   opacity: 1;
   padding-left: 0;
}

.buttonsearchloupe {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 49px;
   height: 49px;
   margin-right: 1px;
   background-color: #0065FC;
   border: 1px solid #0065FC;
   border-radius: 0px 15px 15px 0px;
}

/*icon loupe */
.fa-magnifying-glass {
   width: 17px;
   height: 17px;
   color: #FFFFFF;
}

.buttonsearch {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 132px;
   height: 49px;
   margin-left: -50px;
   background-color: #0065FC;
   color: #FFFFFF;
   border-radius: 0px 15px 15px 0px;
   line-height: 21px;
   font-size: 18px;
   font-weight: 700;
   border: 1px solid #0065FC;
}

/*---FilteerBar---*/
.filterbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 99.23%;
   /* Largeur totale-right animaux autorisés-left filtres =1440-464-62 = 914px */
   margin-top: 32px;
   margin-left: 0.77%;
   /*7px */
}

.filterbar a {
   text-decoration: none;
}

.filtres {
   width: 54px;
   height: 21px;
   font-size: 18px;
   font-weight: 700;
}

.ensemblefiltres {
   display: flex;
   justify-content: space-between;
   width: 90.59%;
   /* 828=914-54-32 */
}

.filtres2 {
   display: flex;
   align-items: center;
   height: 40px;
   border: 2px solid #D9D9D9;
   border-radius: 25px;
   background-color: #FFFFFF;
   color: black;
}

.filtres2:hover {
   cursor: default;
   background-color: #DEEBFF;
}

.carreicon1,
.carreicon2,
.carreicon3,
.carreicon4 {
   display: flex;
   justify-content: center;
   align-items: center;
}

.carreicon1 {
   width: 22px;
   height: 22px;
   margin-left: 20px;
   margin-right: 10px;
}

.carreicon2 {
   width: 13.44px;
   height: 22px;
   margin-left: 24px;
   margin-right: 14.56px;
}

.carreicon3 {
   width: 22px;
   height: 18.33px;
   margin-left: 20px;
   margin-right: 10px;
}

.carreicon4 {
   width: 22px;
   height: 22px;
   margin-left: 20px;
   margin-right: 10px;
}

/* P2  : icon font awesome */
.fa-info {
   color: #0065FC;
   font-size: 10px;
}

.fa-money-bill-wave,
.fa-person,
.fa-heart,
.fa-dog {
   color: #0065FC;
   font-size: 22px;
}

.textfiltres {
   margin-right: 20px;
   line-height: 20px;
   font-size: 17px;
   font-weight: 700;
}

/*---Infobar--plus de 500 logements-*/
.infobar {
   display: flex;
   align-items: center;
   height: 24px;
   margin-top: 38px;
   margin-left: 0.32%;
   /*4px;*/
}

.ellipse {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 24px;
   height: 24px;
   margin-right: 11px;
   border: 1px solid #D9D9D9;
   border-radius: 50px;
}

h3 {
   /* Plus de 500 logements sont disponibles dans cette ville */
   line-height: 19px;
   font-size: 16px;
   font-weight: 400;
}

/*---------------------------Partie 3 hebergements à Marseille et les plus populaires-----desktop---------------*/
.partieoffers {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 93.06%;
   /* 1340 = 1440 - 50 - 50 */
   height: 626px;
   margin-top: 39px;
   margin-left: 3.47%;
   /*50px*/
   margin-right: 3.47%;
   /*50px*/
}

/*-----P3---GRANDE SECTION-------- */
/* SECTION à gauche 65% */
.offersmain {
   display: flex;
   flex-direction: column;
   width: 65.67%;
   /*880px */
   height: 626px;
   border-radius: 20px;
   background-color: #F2F2F2;
}

.titrehebergements {
   height: 91px;
   margin-left: 4.55%;
   /*40px*/
}

h4 {
   /*Hébergements à Marseille* et Les plus populaires */
   margin-top: 42px;
   margin-bottom: 23px;
   line-height: 26px;
   font-size: 22px;
   font-weight: 700;
}

.sixcards {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-content: space-between;
   width: 90.91%;
   /* 800px=880 -40-40 */
   height: 428px;
   /* 199 + 30 + 199 */
   margin-bottom: 30px;
   margin-left: 4.55%;
   /*40px*/
}

/* CARTE */
.sixcards a {
   display: flex;
   width: 30.75%;
   /*30.75% 246px*/
}

.cardmain {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 199px;
   border-radius: 20px;
   background-color: #FFFFFF;
   box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
}

.imagemain {
   height: 114px;
   border: 5px solid #FFFFFF;
   border-radius: 20px 20px 0px 0px;
   background-color: #F2F2F2;
   overflow: hidden;
}

.imagemain img {
   width: 100%;
   height: 114px;
   object-fit: cover;
}

/* description de la carte */
.descriptionmain {
   display: flex;
   flex-direction: column;
   height: 75px;
   margin-top: 4px;
   margin-left: 6.50%;
   /*18px*/
}

.titrecardmain {
   line-height: 18.78px;
   font-size: 16px;
   font-weight: 700;
   overflow: hidden;
   display: inline-block;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.prixcardmain {
   margin-top: 9px;
   line-height: 16.44px;
   font-size: 14px;
   font-weight: 400;
}

.euro {
   line-height: 16.44px;
   font-size: 14px;
   font-weight: 600;
}

.etoilecardmain {
   display: flex;
   margin-top: 9px;
   height: 12px;
}

.fa-star {
   margin-right: 2px;
   font-size: 12px;
}

.fa-star:nth-child(-n+4) {
   /* 4 premières étoiles bleues */
   color: #0065FC;
}

.fa-star:nth-child(n+5) {
   /* dernière étoile grise */
   color: grey;
}

.afficherplus {
   margin-left: 5%;
   /* 44px */
   margin-bottom: 46px;
   line-height: 21.13px;
   font-size: 18px;
   font-weight: 700;
}

/* SECTION à Droite 32% OFFERS SPONSORED */
.offerssponsored {
   display: flex;
   flex-direction: column;
   width: 32.31%;
   /* 420px */
   height: 626px;
   margin-left: 40px;
   border-radius: 20px;
   background-color: #F2F2F2;
   margin-bottom: 1px;
}

.grostitresponsored {
   /* pas de marge supérieure et inférieure */
   display: flex;
   justify-content: space-between;
   height: 93px;
   margin-left: 8.81%;
   /* 37px */
   margin-right: 10%;
}

.eclairicon {
   width: 18px;
   height: 15.75px;
   margin-top: 46px;
   margin-bottom: 31.25px;
}

.fa-chart-line {
   color: #0065FC;
   width: 18px;
   height: 15.75px;
}

.bloccardsponsored {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 81.67%;
   /* 343px */
   height: 498px;
   /* 144 + 33 + 144 + 33 + 144 */
   margin-left: 8.81%;
   /* 37px */
   margin-bottom: 34px;
}

.bloccardsponsored a {
   display: flex;
   width: 100%;
   height: 144px;
}

.cardsponsored {
   display: flex;
   width: 100%;
   /*81.67% */
   height: 144px;
   border-radius: 20px;
   background-color: #FFFFFF;
   box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
   overflow: hidden;
}

.imagesponsored {
   width: 127px;
   height: 134px;
   border: 5px solid #FFFFFF;
   border-radius: 20px 0px 0px 20px;
   overflow: hidden;
}

.imagesponsored img {
   width: 100%;
   height: 134px;
   object-fit: cover;
}

.descriptionsponsored {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 206px;
   height: 132px;
   margin-left: 4.37%;
   /*15px*/
   padding-bottom: 12px;
}

.titresponsoredhotel {
   margin-top: 16px;
   font-weight: 700;
   width: 130px;
}

.titresponsored {
   margin-top: 16px;
   line-height: 19px;
   font-size: 16px;
   font-weight: 700;
   height: auto;
}

.prixsponsored {
   margin-top: 7px;
   line-height: 16.44px;
   font-size: 14px;
   font-weight: 400;
}

.etoilecardsponsored {
   display: flex;
   height: 12px;
   /*margin-top: 44px; */
}

/*---------------------------------------Partie 4 -----ACTIVITES------------desktop-----------------------------*/
.sectionactivites {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 493px;
   margin-top: 60px;
   margin-left: 3.47%;
   /* 50px */
   margin-right: 3.68%;
   /* 53px */
}

h5 {
   /* Activités à Marseille */
   display: flex;
   height: 30.02px;
   margin-top: 0;
   margin-bottom: 18.47px;
   line-height: 26px;
   font-size: 22px;
   font-weight: 700;
}

.bloccardactivites {
   display: flex;
   justify-content: space-between;
   height: 445px;
}

.bloccardactivites a {
   display: flex;
   width: 22.59%;
   /* 302 px */
}

.cardactivites {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 445px;
   border-radius: 20px;
   box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
}

.imageactivites {
   display: flex;
   height: 389px;
   border-radius: 20px 20px 0px 0px;
   overflow: hidden;
}

.imageactivites img {
   display: flex;
   width: 100%;
   height: 389px;
   object-fit: cover;
}

.descriptionactivites,
.descriptionactivitesb,
.descriptionactivitesc {
   display: flex;
   margin-top: 20px;
   margin-left: 6.29%;
   /*19px*/
   line-height: 19px;
   font-size: 16px;
   font-weight: 700;
}

/*---------------------------------------------Partie 5 FOOTER------------desktop--------------------------------*/
footer {
   display: flex;
   height: 225px;
   /*width:92.99%;*/
   margin-top: 61px;
   margin-left: 3.33%;
   /* 48px */
   margin-right: 3.68%;
   /* 53px */
   background-color: #F2F2F2;
}

footer a {
   width: 197px;
   height: 19px;
   margin-bottom: 12px;
}

.footercolonne {
   display: flex;
   width: 33.33%;
}

.apropos {
   display: flex;
   flex-direction: column;
   width: 197px;
   /* 197px*/
   margin-left: 15.68%;
   /* 70px */
   margin-top: 45px;
   /*margin-bottom: 58px*/
}

h6 {
   display: flex;
   margin-top: 0;
   margin-bottom: 0;
   height: 21px;
   font-size: 18px;
   font-weight: 700;
}

.contenufooter {
   display: flex;
   flex-direction: column;
   margin-top: 20px;
}

.textfooter {
   display: flex;
   margin-bottom: 12px;
   line-height: 19px;
   font-size: 16px;
   font-weight: 400;
}

.noshebergements {
   display: flex;
   flex-direction: column;
   width: 197px;
   /* et pas 165px*/
   margin-top: 45px;
   margin-left: 20%;
   /*au lieu de 18.98% 230-3=227px*/
}

.assistance {
   display: flex;
   flex-direction: column;
   width: 197px;
   margin-top: 45px;
   margin-left: 10%;
   /*au lieu de 15.46% 197-165=32  239-32= 207px */
}

/*---------------------------------------------------TABLETTE-------991 à 768 px-----------------------------------------------*/
@media screen and (max-width: 991.99px) {


   /*---l'écran fait 1024px sur la maquette---------------HEADER------------------------------------------------------*/

   header {
      margin-left: 7.03%;
      /* 72px */
      margin-right: 4.88%;
      /*50px = 54 +1 (1px de plus entre hébergements et activités) - 5 (on passe de 77 à 72)*/
   }

   /*---------------------------------------Partie 2 FILTRES--------------------------------------------------*/

   .partiefiltres {
      width: 82.62%;
      /* 846px = 1024 - 72 - 72 */
      margin-left: 7.03%;
      /* 72px */
      margin-right: 7.03%;
      /* 72px */
   }

   .blocinput {
      margin-left: 2px;
      justify-content: flex-start;
   }

   .filterbar {
      margin-left: 0;
      width: 100%;
   }

   .infobar {
      margin-left: 0;
   }

   /*---------------------------Partie 3 hebergements à Marseille et les plus populaires----Tablette--------------*/
   .partieoffers {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 85.94%;
      /* 800px*/
      height: 957px;
      /* 957 = 626 + 53 + 278 */
      margin-left: 7.03%;
      /*72px*/
      margin-right: 7.03%;
      /*72px*/
   }

   .offersmain {
      /* ça remet le bloc */
      width: 100%;
      /*880px*/
   }

   .offerssponsored {
      flex-direction: column;
      width: 100%;
      /*ça remet le bloc */
      height: 278px;
      margin-top: 53px;
      margin-left: 0;
   }

   .grostitresponsored {
      margin-left: 40px;
   }

   .bloccardsponsored {
      flex-direction: row;
      width: 90.83%;
      /* 802px */
      /*252+23+252+23+252*/
      height: 144px;
      margin-left: 40px;
   }

   .bloccardsponsored a {
      width: 31.42%;
      /*252px*/
   }

   .cardsponsored {
      width: 100%;
      /*252px*/
   }

   .cardsponsored a {
      display: flex;
      /*width: 30.75%*/
   }

   .descriptionsponsored {
      justify-content: space-between;
      width: 206px;
      height: 132px;
      margin-left: 4.37%;
      /*15px*/
      padding-bottom: 12px;
   }

   .titresponsoredhotel {
      width: 110px;
   }

   .prixsponsored {
      margin-top: 7px;
   }

   .etoilecardsponsored {
      margin-top: auto;
   }

   /*---------------------------------------Partie 4 -----ACTIVITES----------Tablette----------------------------*/

   .sectionactivites {
      margin-top: 70px;
      height: 331px;
      /* 30+34+267 */
      width: 85.94%;
      /* 880px */
      /* 1024-73-73 */
      margin-left: 7.13%;
      /*73px*/
      margin-right: 7.13%;
      /*73px*/
   }

   h5 {
      /* Activités à Marseille */
      margin-bottom: 34px;
   }

   .cardactivites {
      width: 334px;
      height: 267px;
   }

   .imageactivites {
      height: 211px;
   }

   .bloccardactivites {
      width: 100%;
   }

   .descriptionactivitesb,
   .descriptionactivitesc {
      margin-top: 9px;
   }

   .descriptionactivitesc {
      width: 127px;
   }

   /*---------------------------------------------Partie 5 FOOTER---------Tablette-------------- -----------------*/
   footer {
      margin-top: 69px;
      margin-left: 7.18%;
      /*73.53px*/
      margin-right: 6.92%;
      /* 70.82px;*/
      width: 85.94%;
      /* 880px */
   }

   .apropos {
      margin-left: 22%;
      /* 70.21px */
   }

   .noshebergements {
      margin-left: 18%;
      /* 9.32%81.26px */
   }

   .assistance {
      margin-left: 5%;
      /*9.23% 82px */
   }
}

/*----------------------------------------------------MOBILE------------------------------------------------------*/

@media screen and (max-width:767.99px) {
   .buttonsearch {
      display: none;
   }

   header {
      flex-direction: column;
      width: 100%;
      /*375px*/
      height: 132px;
      /* 129 + 3 */
      margin: 0;
   }

   nav,
   .hebergements,
   .activites {
      height: 63.53px;
      /* 63.53 = 23.09 + 17.35 + 23.09 */
   }

   .logo {
      margin-top: 21px;
      margin-left: 41.87%;
      /*157px*/
   }

   nav {
      margin-bottom: 3px;
   }

   .hebergements,
   .activites {
      width: 100%;
      /*187px*/
   }

   .hebergementmarseille {
      /* le a d'hébergements */
      width: 49.87%;
      /*187%*/
      font-weight: 500;
   }

   nav {
      width: 100%;
   }

   nav a {
      width: 50.13%;
      /*188px*/
      border-top: 0;
      border-bottom: 3px solid #F2F2F2;
      /*375px*/
   }

   nav a:hover {
      border-bottom-color: #0069FC;
   }

   .texthebergements,
   .textactivites {
      margin-top: auto;
      margin-bottom: 22.84px;
   }

   /*---------------------------------------Partie 2 FILTRES-------------MOBILE----------------------------------*/

   .partiefiltres {
      width: 89.07%;
      /* 100% - 5.33%- 5.60% */
      height: auto;
      /*456px; */
      margin-top: 31px;
      margin-left: 5.33%;
      /* 20px */
      margin-right: 5.60%;
      /* 21px */
      margin-bottom: 17px;
   }

   h1,
   h2 {
      margin-left: 2px;
      /* 20px*/
      width: 89%;
      /*79.47% ;/*298px; j'ai tatonné*/
   }

   h2 {
      margin-top: 13px;
   }

   .blocinput {
      /*margin-left: 0.53%;*/
      /*2px*/
      /*margin-right:5.60%;*/
      margin-top: 34px;
      /*width: 332px; */
   }

   .inputmainlocation {
      width: 100%;
   }

   .form {
      width: 100%;
      /*64.76%*/
   }

   .formulaire {
      width: 100%;
   }

   .marseille {
      width: 100%;
   }

   .filterbar {
      flex-direction: column;
      align-items: flex-start;
      width: 89.07%;
      /* 334px = 375 - 20 - 21 */
   }

   .filtres {
      height: 55px;
   }

   .ensemblefiltres {
      flex-wrap: wrap;
      align-content: space-between;
      margin-top: 15px;
      margin-left: 0;
      width: 110.93%;
      /* 110.93%= 100% +5.33% + 5.60%  */
      height: 117px;
      /* 50 + 17 + 50 */
   }

   .filtres {
      height: 21px;
   }

   .filtres2 {
      height: 50px;
      width: 48.3%;
      /* 156px = 160-2-2. J'ai mis 161.33px :
   j'ai mis un peu plus grand pour que tout le texte d'animaux autorisés se mette sur une seule ligne */
   }

   .textfiltres {
      display: flex;
      margin-right: 20px;
      line-height: 12.91px;
      font-size: 11px;
      font-weight: 700;
   }

   .carreicon1 {
      width: 21px;
      height: 14.78px;
      margin-left: 13px;
      margin-right: 5px;
   }

   .carreicon2 {
      height: 22px;
      margin-left: 17px;
      margin-right: 8.56px;
   }

   .carreicon3 {
      margin-left: 20px;
      margin-right: 4px;
   }

   .carreicon4 {
      width: 21px;
      height: 20px;
      margin-left: 13px;
      margin-right: 5px;
   }

   .fa-dog {
      font-size: 21px;
   }

   .infobar {
      display: flex;
      align-items: flex-start;
      height: 60px;
      /* 57 + 3 : les 3px qui dépasse de l'icone */
      margin-top: 40px;
      /* on enlève les 3px qui dépassent de l'icone */
   }

   h3 {
      /* Plus de 500 logements sont disponibles dans cette ville */
      margin-top: 3px;
   }

   /*---------------------------Partie 3 hebergements à Marseille et les plus populaires-----MOBILE--------------*/
   .partieoffers {
      flex-direction: column-reverse;
      justify-content: flex-end;
      width: 100%;
      /*374px*/
      height: 1905px;
      /*2200px*/
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
   }

   .titrehebergements {
      margin: 0;
   }

   .offerssponsored {
      flex-direction: column;
      margin-top: 0;
      width: 100%;
      /*375px*/
      height: 580px;
      /*700px*/
   }

   .grostitresponsored {
      height: 80px;
      /* 28+26+26 */
      margin-left: 5.33%;
      /*20px*/
      margin-right: 5.60%;
      padding-top: 2px;
      /* 26 + 2 */
   }

   h4 {
      margin-top: 26px;
   }

   .eclairicon {
      height: 14.38px;
      margin-top: 35px;
   }

   .bloccardsponsored {
      flex-direction: column;
      height: 453px;
      /* 144+11+144+10+144*/
      margin-left: 20px;
   }

   .bloccardsponsored a {
      width: 100%;
   }

   .cardsponsored {
      width: 100%;
      /* 89.07%- 5.33%   334px */
      margin: 0;
   }

   .titresponsoredhotel {
      width: 120px;
   }

   /*offermain*/
   .offersmain {
      margin-left: 5.33%;
      margin-right: 5.60%;
      height: 1325px;
      width: 89.07%;
      background-color: #FFFFFF;
   }

   .titrehebergements {
      height: 71px;
   }

   .afficherplus {
      display: none;
   }

   .sixcards {
      flex-direction: column;
      flex-wrap: nowrap;
      width: 100%;
      margin-left: 0;
      height: 1254px;
      /* 199+12+199+12+199+12+199+12+199+12+199 */
      margin-bottom: 12px;
   }

   .sixcards a {
      width: 100%;
   }

   /*---------------------------------------Partie 4 -----ACTIVITES----------MOBILE------------------------------*/
   .sectionactivites {
      justify-content: flex-start;
      width: 89.06%;
      /*375px*/
      height: 886px;
      /* 54+190+24+190+24+190+24+190 */
      margin-top: 105px;
      /* 105-12 */
      margin-left: 5.07%;
      /*19px*/
      margin-right: 5.87%;
      /*22px*/
   }

   h5 {
      margin-left: 3px;

   }

   .sectionactivites a {
      width: 100%;
   }

   .bloccardactivites {
      flex-direction: column;
      height: 832px;
      margin-top: 0;
      /* width:100%;*/
   }

   .cardactivites {
      height: 190px;
      width: 100%;
   }

   .imageactivites img {
      height: 134px;
   }

   h5 {
      width: 120px;
      height: 54px;
      /* 30.02 + 23.98 */
      margin-bottom: 0;
   }

   .descriptionactivites,
   .descriptionactivitesb,
   .descriptionactivitesc {
      display: flex;
      align-items: center;
      width: 247px;
      margin-top: 20px;
      margin-left: 19px;
   }

   .imageactivites {
      height: 134px;
   }

   /*---------------------------------------------Partie 5 FOOTER--------------------------------------------*/

   footer {
      margin-top: 80px;
      margin-left: 0;
      width: 100%;
      /*375px*/
      height: 501px;
      flex-direction: column;
   }

   .footercolonne {
      width: 100%;
   }

   .apropos {
      margin-left: 8%;
      /*30px*/
      margin-bottom: 0;
   }

   .noshebergements {
      margin-top: 28px;
      /*40-12*/
      margin-left: 8.80%;
      /*33px*/
   }

   .assistance {
      margin-top: 39px;
      /*51-12*/
      margin-left: 8.80%;
      /*33px*/
   }
}